body {
	background-color: #ADA3E0;
}

#game {
	height: 600px;
	width: 600px;
	background-color: #99CCFF;
	margin: auto;
	position: relative;
}

#game_over_message {
	height: 200px;
	width: 200px;
	top: 200px;
	left: 200px;
	background-color: gray;
	position: absolute;
	color: white;
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
}

#bird {
	top: 10px;
	left: 285px;
	height: 30px;
	width: 30px;
	background-color: #FD6767;
	position: absolute;
}

#ground {
	top: 540px;
	height: 60px;
	width: 600px;
	background-color: #65ADA2;
	position: absolute;
	text-align: center;
	text: white;
}

.tower {
	top: 440px;
	left: 600px; 
	height: 100px;
	width: 0px;
	background-color: #212121;
	position: absolute;
}
